<h1 class="center green-text">Help Page</h1>
<p>If you want some help ask a friendly old person if they can help you figure out this darn web application. If they can't figure it out maybe the police can help. That is just a though</p>
<p class="center">Find a link <a href="http://www.wikihow.com/Listen-to-Music">Here</a></p>