<h1 class="center blue-text text-accent-4">Your center for top lists and such</h1>
<div class="center">
<%= link_to 'Add Billboard', new_billboard_path, class: "btn green white-text" %>
</div>
<hr />
<ul class="collection">
	<% @billboards.each do |billboard| %>
		<li class="collection-item">
			<%= link_to billboard.name, billboard_path(billboard) %>
		</li>
	<% end %>
</ul>